@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Gelasio&family=Inter:wght@200&family=Montserrat:wght@100&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.container{
  width:66%;
  margin: 0 auto;
}