@import "reset";

#header{
  position: fixed;
  width: 100%;
  z-index: 999;
  background: rgba(38, 39, 43, 0.33);
  backdrop-filter: blur(10px);
  transition: 1s;
  padding: 20px 0;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;


    #menu__toggle {
      opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      right: 0;
    }

    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 20px;
      right: 120px;

      width: 36px;
      height: 46px;

      cursor: pointer;
      z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;

      width: 100%;
      height: 2px;

      background-color: #f80202;

      transition-duration: .25s;
    }



    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }

    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;

      width: 400px;
      height: 650%;

      margin: 0;
      padding: 80px 0;

      list-style: none;


      background-color: #6c0404;
      box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

      transition-duration: .25s;
    }

    .menu__item {
      display: block;
      padding: 20px 24px;

      color: #fdfcfc;

      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;

      text-decoration: none;

      transition-duration: .25s;
    }

    .nav__btn{
      display: none;
      padding: 10px 5px;
      border: 2px solid #f8f6f6;
      border-radius: 10px;
      background: transparent;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #fcfafa;
      margin-left: 10px;
      &:active{
        background-color: #CFD8DC;
        color: #f11818;
      }
    }

    .menu__item:hover {
      background-color: #CFD8DC;
      color: #6c0404;
    }



    .hamburger-menu{
      display: none;
    }



    &--title{
      font-weight: 400;
      font-size: 24px;
      color: #FFFFFF;
      &:hover{
        color: darkorange;
      }
    }

    &--nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__navbar{
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        margin: 0 35px;
        &:hover{
          color: darkorange;
        }
      }
    }

    &--btn{
      width: 163px;
      height: 51px;
      background: #C9453B;
      border-radius: 5px;
      border: none;
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      &:hover{
        border: 2px solid #C9453B;
        color: #fcfafa;
        background: transparent;
      }
    }
  }
}

#hero{
  background: url("../img/Foto.png") no-repeat center/cover;
  min-height: 80vh;
  padding-top: 280px;
  .hero{
   &--title{
     font-weight: 700;
     font-size: 65px;
     line-height: 120%;
     color: #FFFFFF;
     text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
     filter: drop-shadow(10px 10px 10px #262626);
     padding-top: 10px;
     margin-bottom: 30px;
   }

    &--itmge{
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: #FFFFFF;
      opacity: 0.6;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
      filter: drop-shadow(10px 10px 10px #262626);
      padding-top: 10px;
      margin-bottom: 30px;
    }

    &--btn2{
      width: 163px;
      height: 51px;
      background: #C9453B;
      border-radius: 5px;
      border: none;
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
      filter: drop-shadow(10px 10px 10px #2f2f2f);
      margin-bottom: 30px;
      transition: .4s;
      &:hover{
        transform: scale(1.1);
        color: beige;
        border: 2px solid beige;
        background: transparent;
      }
    }
  }
}

#arvi{
  padding: 20px 0;
  .arvi{
    padding-top: 100px;
    &--title{
      font-weight: 500;
      font-size: 43px;
      line-height: 140%;
      color: #000000;
      text-align: center;
      padding-top: 80px;
      margin-bottom: 20px;
    }

    &--itemgi{
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin-bottom: 40px;
    }

    &--block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--oren{
        width: 360px;
        height: 500px;
        background: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        &--title2{
          font-weight: 500;
          font-size: 24px;
          line-height: 150%;
          text-align: center;
          color: #000000;
          padding-top: 30px;
        }

        &--itlmg2{
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
          text-align: center;
          color: #000000;
          padding-top: 20px;
        }
      }
    }
  }
}

#see{
  padding: 30px 0;
  .see{

    .swiper {
      width: 1629px;
      height: 402px;
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }






    &--eleven{
      font-weight: 500;
      font-size: 43px;
      line-height: 140%;
      text-align: center;
      color: #000000;
      padding-top: 140px;
    }

    &--habit{
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      color: #000000;
    }

    &--life{
      &--minus{

        &--nice{
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
          color: #000000;
          margin-bottom: 5px;
        }

        &--oftice{
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          &--pencil{
            display: flex;
            align-items: center;
            &--icon{
              color: red;
            }
            &--fool{
              font-weight: 400;
              font-size: 20px;
              line-height: 150%;
              color: #000000;
              margin: 0 10px;
              &:hover{
                color: red;
              }
            }
          }

          &--place{
            display: flex;
            align-items: center;
            margin-left: 30px;
            &--icon2{
              color: #FFC700;

            }

            &--kid{
              font-weight: 400;
              font-size: 18px;
              color: #000000;
              margin: 0 10px;
            }
          }
        }

        &--sheep{
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
          margin-bottom: 5px;
          margin-left: -146px;
        }

        &--twelve{
          font-weight: 800;
          font-size: 18px;
          color: #000000;
          margin-bottom: 5px;
          margin-left: -146px;
          span{
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #3a3939;
          }
        }
      }
    }

  }
}

#rion{
  .rion{
    padding-top: 180px;

    &--team{
      font-weight: 700;
      font-size: 43px;
      line-height: 140%;
      text-align: center;
      color: #000000;
    }

    &--these{
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin-bottom: 40px;
    }

    &--those{
      display: flex;
      justify-content: space-between;

      padding-top: 40px;

      &--weak{
       &--you{
         margin-bottom: 50px;
       }
        &--after{
          font-weight: 700;
          font-size: 20px;
          color: #000000;
          margin-bottom: 30px;
        }
        &--best{
          font-weight: 400;
          font-size: 18px;
          color: #000000;
          margin-bottom: 30px;
        }
        &--boring{
          font-weight: 700;
          font-size: 20px;
          color: #000000;
        }
      }

      &--mission{
        &--minute{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          &--ouy{
            margin: 0 30px;
          }

          &--time{
            &--without{
              font-weight: 700;
              font-size: 20px;
              line-height: 150%;
              color: #000000;
              margin-bottom: 10px;
            }
            &--worker{
              font-weight: 400;
              font-size: 18px;
              line-height: 160%;
              color: #000000;
              margin-bottom: 10px;
            }
            &--worm{
              font-weight: 700;
              font-size: 20px;
              line-height: 150%;
              color: #000000;
            }
          }

        }
      }

    }
  }
}

#footer{
  background: #2694990A;
  padding: 40px 0;
  margin: 100px 0 0 0;
  .footer{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    &--army{
      &--baby{
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 20px;
      }
      &--clean{
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #000000;
        margin-bottom: 10px;
      }
      &--dirty{
        display: flex;
        justify-content: space-between;
       &--fifty1{
         font-size: 20px;
         color: blue;
         transition: .4s;
         &:hover{
           transform: scale(1.1);
         }

       }
       &--fifty2{
         font-size: 20px;
         color: #fcfafa;
         background: #C9453B;
         border-radius: 5px;
         transition: .4s;
         &:hover{
           transform: scale(1.1);
         }
       }
       &--fifty3{
         font-size: 20px;
         color: #fcfafa;
         background: #05faf1;
         border-radius: 5px;
         transition: .4s;
         &:hover{
           transform: scale(1.1);
         }
       }
        &--fifty4{
          font-size: 20px;
          color: #f8f3f3;
          background: #0a0a0a;
          border-radius: 5px;
          transition: .4s;
          &:hover{
            transform: scale(1.1);
          }
        }
      }

    }

    &--foily{
      display: flex;
      flex-direction: column;
      &--jeep{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 10px;
        font-family:sans-serif;
        &:hover{
          color: red;
        }
      }
    }

    &--lady{
      &--ninety{
        font-family:sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #000000;
        margin-bottom: 30px;
      }

      &--party{
        input{
          width: 195px;
          height: 44px;
          border: 1px solid #444343;
          border-radius: 5px;
          padding: 0 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
        }

        &--pretty{
          width: 103px;
          height: 44px;
          background: #C9453B;
          border-radius: 5px;
          border: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
          &:hover{
            color: #f8f7f6;
            background:black;
          }
        }
      }
    }
  }
}